.login-page {
    width: clamp(80%, 80%, 2300px);
    height: clamp(80%, 80%, 1300px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-colour);
    border-radius: 25px;
}

.login-page::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 20px 20px var(--background-colour);
    background: black;
    z-index: -2;
    padding: 20px;
    border-radius: inherit;
}

.bomb-div {
    position: relative;
    width: clamp(125px, 250px, 250px);

}

.bomb-img {
    position: absolute;
    width: inherit;
    height: inherit;
    filter: invert(98%) sepia(0%) saturate(18%) hue-rotate(151deg) brightness(98%) contrast(81%);
}

.bomb-blinker-img {
    width: inherit;
    height: inherit;
    filter: invert(98%) sepia(0%) saturate(18%) hue-rotate(151deg) brightness(98%) contrast(81%);
}

.login-page h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 1000;
    font-size: clamp(40px, 60px, 120px);
    color: var(--text-colour);
    padding: 1rem;
}

.login-page h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 1000;
    font-size: clamp(20px, 20px, 30px);
    color: var(--text-colour);
    padding: 1rem;
}

.login-form {
    display: flex;
    justify-content: center;
    height: 3em;
}

.login-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--foreground-colour);
    border-radius: 25px;
    border: hidden;
    height: 5em;
    width: 10rem;
    box-shadow: inset var(--submit-colour) 0 0;
    font-family: inherit;
    color: var(--text-colour);
    font-size: 14px;
    font-weight: 525;
    padding: 1em;
    background-image: linear-gradient(to top, var(--submit-colour) 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 1.5s ease;
}

.login-button:hover {
    background-position: bottom;
}

.login-button:hover .text{
    display: none;
}

.bomb-code {
    opacity: 0;
    position: absolute;
    width: 0;
    transition: width 20s ease;
    overflow: hidden;
}

.login-button:hover .bomb-code {
    opacity: 1;
    width: 100%;
    font-size: 20px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.bomb-blinking-img {
    width: inherit;
    height: inherit;
    filter: invert(39%) sepia(11%) saturate(1869%) hue-rotate(68deg) brightness(92%) contrast(87%);
    animation: blink 1s;
    animation-iteration-count: infinite;
}