.navbar h1 {
    margin-right: auto;
    padding-left: 1em;
}

.navbar a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    padding-right: 2em;
    font-size: large;
}

.navbar a:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
}

.dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 1em 1em 1em 2em;;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropbtn img {
    width: auto;
    height: 4em;
    border-radius:4px;
}

.dropbtn img:hover {
    outline: 2px solid #ccc;
    transition: outline 0.1s ease;
}

.form {
    position: relative;
    padding: 5em;
    display: flex;
    flex-direction: column;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event h2 {
    font-size: 40px;
    text-align: center;
}

.inputs {
    display: flex;
    align-items: center;
    margin-left: 5em;
}

.event-button-select {
    background-color: #5e8b4b;
}

.event-button-delete {
    background-color: #b06161;
}

.event-button-delete,
.event-button-select {
    color: white;
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 0 1em 0 1em;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.event-button-delete:hover:enabled,
.event-button-select:hover:enabled {
    animation: blink 1s;
    animation-iteration-count: infinite;
}

.event-button-delete:disabled,
.event-button-select:disabled,
.showAuthCode:disabled {
    opacity: 0.3;
    background-color: #808080;
    border-radius: 5px;
    border: none;
    cursor: help;
}

.AuthCode {
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 0 1em 0 1em;
}

.showAuthCode {
    width: 32px;
    height: 32px;
}

.showAuthCode:hover:enabled {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.showAuthCode img {
    width: 100%;
    height: 100%;
}
