.form {
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event h2 {
    font-size: 40px;
}

.inputs {
    display: flex;
    align-items: center;
    margin-left: 5em;
}

.event-button-select {
    background-color: #5e8b4b;
}

.event-button-delete {
    background-color: #b06161;
}

.event-button-delete,
.event-button-select {
    color: white;
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 0 1em 0 1em;
}

.event-button-delete:hover,
.event-button-select:hover {
    opacity: 0.7;
}

.event-button-delete:disabled,
.event-button-select:disabled,
.showAuthCode:disabled {
    opacity: 0.3;
    background-color: #808080;
    cursor: help;
}

.AuthCode {
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 0 1em 0 1em;
}

.showAuthCode {
    width: 32px;
    height: 32px;
}

.showAuthCode img {
    width: 100%;
    height: 100%;
}
