.playoff-bracket {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.playoff-bracket > div {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    max-width: 800px;
}

.semi-finals .match-dropzone-advanced {
    margin-left: 8.25em;
    margin-right: 8.25em;
}

.quarter-finals .match-dropzone-advanced {
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.round-of-eight {
    justify-content: space-between;
}

.match-dropzone-advanced, .team {
    width: 50px;
    height: 50px;
    border: 1px solid #aaa;
    border-radius: 5px;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
    user-select: none;
}
