.playoff-bracket {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 15vh 1em;
}

.playoff-bracket > div {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    max-width: 800px;
}

.champion {
    flex-direction: column;
    align-items: center;
}

.crown-image {
    max-width: 64px;
    max-height: 64px;
    padding: 0;
}

.semi-finals .match-dropzone-advanced {
    margin-left: 8.25em;
    margin-right: 8.25em;
}

.quarter-finals .match-dropzone-advanced {
    margin-left: 2.5em;
    margin-right: 2.5em;
}

.round-of-eight {
    justify-content: space-between;
}

.match-dropzone-advanced {
    max-width: 64px;
    max-height: 64px;
    border: 2px dashed var(--text-colour);
    border-radius: 5px;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--foreground-colour);
    user-select: none;
}

.team {
    max-width: 64px;
    max-height: 64px;
    border: 2px dashed var(--text-colour);
    border-radius: 5px;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--foreground-colour);
    user-select: none;
}
