:root {
    --background-colour: #171A1E;
    --text-colour: #E0E1DD;
    --foreground-colour: #434C5E;
    --navbar-colour: #22252C;
    --submit-colour: #40703C;
    --delete-colour: #b06161;
}


body {
    font-family: stratum-1-web, sans-serif;
    background-color: var(--background-colour);
    margin: 0;
    padding: 0;
    color: var(--text-colour);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pickem-container {
    height: inherit;
    width: inherit;
}

.navbar {
    position: relative;
    background-color: var(--navbar-colour);
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin: 1rem;
}

.navbar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 20px 20px var(--background-colour);
    background: black;
    z-index: -2;
    padding: 10px;
    border-radius: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: #0D1B2A;
}

.github {
    position: absolute;
    bottom: clamp(1em, 1em, 1em);
    right: clamp(1em, 1em, 1em);
    z-index: 1000;
}

.github img {
    width: 60px;
    height: auto;
}

.github:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
