body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0D1B2A;
    margin: 0;
    padding: 0;
    color: #E0E1DD;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.navbar {
    background-color: #1B263B;
    display: flex;
    justify-content: space-between; /* Spread them apart */
    box-shadow: #060D15 0px 2px;
}

.dropdown {
    float: right;
    overflow: hidden;
    font-family: Arial;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 1em;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropbtn img {
    width: auto;
    height: 4em;
    padding: 0;
    border-radius: 4px;
    border: 2px solid #ccc;
}

/*.dropdown:hover {
    background-color: #1B263B;
}*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #1B263B;
    right: 0;
    box-shadow: #060D15 0px 2px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: #0D1B2A;
}

.github {
    position: fixed;
    bottom: 1em; /* space from bottom */
    right: 1em; /* space from right */
    z-index: 1000; /* stays above other content */
}

.github img {
    width: 40px;  optional size 
    height: auto;
}
