.pickem-layout {
    display: flex;
    gap: 1em;
}

.bracket {
    position: fixed; /* Stays in the same place when scrolling */
    top: 50%; /* Move to vertical center */
    left: 50%; /* Move to horizontal center */
    transform: translate(-50%, -50%); /* Perfect centering */

    display: flex;
    flex-direction: column;
    gap: 2em; /* Space between each row (3-0, 3-1, etc.) */
    align-items: center; /* Center rows horizontally */
}

.bracket {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.bracket > div {
    display: flex;
    justify-content: center;
    gap: 2em; /* Horizontal spacing between items */
    width: 100%;
    max-width: 700px; /* Adjust for overall bracket width */
}

.match-dropzone-advanced {
    background-color: #5e8b4b;
}

.match-dropzone-eliminated {
    background-color: #b06161;
}

.match-dropzone-advanced,
.match-dropzone-eliminated {
    border-radius: 5px;
    border: 2px dashed #aaa;
    min-height: 64px;
    min-width: 64px;
    padding: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: grab;
}


.teams-section {
    position: fixed;
    bottom: 1em; /* Space from bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    background-color: #f4efe3;
    padding: 1em;
    border-radius: 10px;
    display: flex; /* Flexbox for spacing */
    gap: 1em; /* Space between .team boxes */
}
