.pickem-layout {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    width: inherit;
    height: 100vh;
    padding: 15vh 1em;
}

.bracket {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.bracket > div {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.match-dropzone-advanced {
    background-color: #5e8b4b;
}

.match-dropzone-eliminated {
    background-color: #b06161;
}

.match-dropzone-advanced,
.match-dropzone-eliminated {
    border-radius: 5px;
    border: 2px dashed #aaa;
    min-height: 64px;
    min-width: 64px;
    padding: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: default;
}


.teams-section {
    padding: 1em;
    border-radius: 10px;
    display: none;
    gap: 1em;
    max-width: 100vw;
    margin: 5vh 0 0 1em;
    justify-content: center;
}

.team {
    background-color: var(--background-colour);
}