.pickem-container {
    width: inherit;
    height: inherit;
}

.event-select {
    display: flex;
    align-items: center;
}

.event-select select {
    appearance: none; /* Standard */
    -webkit-appearance: none; /* Safari / Chrome */
    -moz-appearance: none;
    color: #FFF;
    border: none;
    padding: 1em;
    background-color: #c7b38a;
    font-size: x-large;
}

.event-select select:hover {
    display: block;
    border-radius: 5px;
}

.stage-nav {
    max-width: 1.5em;
    height: auto;
    position: fixed; /* Sticks to the viewport */
    top: 50%; /* Move to the vertical middle */
    left: 2em; /* Keep it on the left side */
    transform: translateY(-50%);
    display: flex; /* Arrange children in a column */
    flex-direction: column;
    align-items: center; /* Center horizontally inside the container */
    gap: 5em;
}

.stage {
    border: 2px solid black;
    border-radius: 50%;
    width: 1.5em; /* Give height and width so it’s circular */
    height: 1.5em;
    display: flex; /* Center text inside the circle */
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.stage:hover {
    transform: scale(1.2);
}

.stage.active {
    transform: scale(1.5);
}


.used-image {
    opacity: 0.1;
    filter: grayscale(100%);
    pointer-events: none;
}

#saveForm {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.save-button {
    background-color: #5e8b4b;
    color: white;
    padding: 1em 2em;
    margin: 5vh;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.team-img {
    min-width: 25px;
    min-height: 25px;
    max-width: 64px;
    max-height: 64px;
    object-fit: contain;
}


.dropped-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.team {
    border: 1px solid #aaa;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: grab;
    min-width: 10px;
    min-height: 10px;
    max-width: 64px;
    max-height: 64px;
    display: flex;
    justify-content: center;
}