.navbar::before {
    background: var(--text-colour);
}

.event-select {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.event-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: inherit;
    border: none;
    padding: 1em;
    background-color: #c7b38a;
    font-size: x-large;
}

.event-select select:hover {
    display: block;
    border-radius: 5px;
}

#SelectedEvent {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 0 0 0 1em;
}

.profile-image {
    font-size: 16px;
    border: none;
    border-radius: inherit;
    outline: none;
    color: white;
    padding: 1em 1em 1em 2em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.profile-image img {
    width: auto;
    height: 4em;
    border-radius: inherit;
}

.profile-image img:hover {
    outline: 2px solid #ccc;
    transition: outline 0.1s ease;
}

.logout {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    padding-right: 1em;
    font-size: large;
}

.logout:hover {
    text-decoration: underline;
    transition: text-decoration 0.3s ease;
}


.stage-nav {
    max-width: 1.5em;
    height: auto;
    position: fixed;
    left: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.stage {
    border: 2px solid var(--text-colour);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-colour);
    font-family: "Times New Roman", Times, serif;
}

.stage:hover {
    transform: scale(1.2);
    transition: 0.1s ease;
}

.stage.active {
    transform: scale(1.5);
}


.used-image {
    opacity: 0.1;
    filter: grayscale(100%);
    pointer-events: none;
}

#saveForm {
    width: inherit;
    display: flex;
    justify-content: center;
}

.save-button {
    background-color: var(--submit-colour);
    color: white;
    padding: 1em 2em;
    margin: 5vh;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
}

.team-img {
    min-width: 25px;
    min-height: 25px;
    max-width: 64px;
    max-height: 64px;
    object-fit: contain;
}

.dropped-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.team {
    border: 1px solid #aaa;
    padding: 0.5em 1em;
    cursor: grab;
    display: flex;
    justify-content: center;
}

.team:hover .team-img {
    transform: scale(1.2);
    transition: 0.3s ease;
}