.pickem-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: inherit;
    height: fit-content;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

.bracket {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.bracket > div {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.match-dropzone-advanced {
    background-color: #5e8b4b;
}

.match-dropzone-eliminated {
    background-color: #b06161;
}

.match-dropzone-advanced,
.match-dropzone-eliminated {
    border-radius: 5px;
    border: 2px dashed #aaa;
    min-height: 64px;
    min-width: 64px;
    padding: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: default;
}


.teams-section {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, 64px);
    margin: 1em;
    padding: 1em;
    justify-content: center;
    width: clamp(80%, 80%, 1300px);
    height: fit-content;
    gap: 1em;
    border-radius: 10px;
}

.teams-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10px 20px var(--background-colour);
    background: var(--text-colour);
    z-index: -1;
    padding: 20px;
    border-radius: inherit;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.team {
    background-color: var(--background-colour);
    height: auto;
    border-radius: inherit;
}