@page
@model CS2Pickems.Pages.HomeModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="pickem-container">
    <form method="post" id="saveForm">
        <input type="hidden" name="DroppedImagesData" id="DroppedImagesData" />
        <button class="save-button" type="submit" id="saveButton" asp-page-handler="SendPicks">Save All Picks</button>
    </form>
</div>


@section Script {
    <script src="/js/site.js"></script>


}