@page
@model PickemsPlanter.Pages.LoginModel
@{
    ViewData["Title"] = "Pick'Ems Planter - Login";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="login-page">
    <div class="bomb-div">
        <img class="bomb-img" src="/Images/bomb.png"/>
        <img class="bomb-blinker-img" id="bomb-blinker" src="/Images/bomb-blinker.png"/>
    </div>
    <h1>Pick'Ems Planter</h1>
    <h2>Here you can check & plant your Pick'Ems!</h2>
    <form method="post" class="login-form" id="saveForm">
        <button class="login-button" type="submit" id="loginButton" asp-page-handler="Login" onmouseover="startBombBlinking()" onmouseout="stopBombBlinking()">
            <p class="text">Start Planting</p>
            <p class="bomb-code">7355608</p>
            </button>
    </form>
</div>
<div class="github">
    <a href="https://github.com/JakePriestman" target="_blank"><img src="~/Images/github/github-mark-white.png"></a>
</div>

<footer>
    <p>Developed by <a href="https://steamcommunity.com/profiles/76561198386888450/" target="_blank">jakeicus</a> - Feeling generous? Drop me a Steam Award!</p>
</footer>

@section Scripts {

    <script src="~/js/Profile/login.js"></script>
}