.error-container {
    width: clamp(80%, 80%, 2300px);
    height: clamp(80%, 80%, 1300px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0E1012;
    border-radius: 25px;
    box-shadow: var(--shadow-m);
}

.kit-div {
    position: relative;
}

.defuse-kit {
    max-width: 250px;
    max-height: 253px;
    min-height: 100px;
    min-width: 100px;
    filter: invert(98%) sepia(0%) saturate(18%) hue-rotate(151deg) brightness(98%) contrast(81%);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.defuse-kit -blinking {
    max-width: 250px;
    max-height: 253px;
    min-height: 100px;
    min-width: 100px;
    filter: invert(39%) sepia(11%) saturate(1869%) hue-rotate(68deg) brightness(92%) contrast(87%);
    animation: blink 1s;
    animation-iteration-count: infinite;
}

 
error-container h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 1000;
    font-size: clamp(40px, 60px, 120px);
    color: var(--text-colour);
    padding: 1rem;
}

.error-container h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 1000;
    font-size: clamp(20px, 20px, 30px);
    color: var(--text-colour);
    padding: 1rem;
}

form {
    display: flex;
    justify-content: center;
    height: 3em;
}

.overview-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--foreground-colour);
    border-radius: 25px;
    border: hidden;
    height: 5em;
    width: 10rem;
    box-shadow: inset var(--submit-colour) 0 0;
    font-family: inherit;
    color: var(--text-colour);
    font-size: 14px;
    font-weight: 525;
    padding: 1em;
    background-image: linear-gradient(to top, var(--submit-colour) 50%, transparent 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: background-position 1.5s ease;
    box-shadow: var(--shadow-m);
}

.overview-button:hover {
    background-position: bottom;
}

.overview-button:hover .text {
    display: none;
}