.navbar h1 {
    margin-right: auto;
}

.logout {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    margin-right: 1em;
    padding: 1em;
    font-size: 20px;
    border-radius: 50px;
}

.logout:hover {
    background-color: var(--background-colour);
    transition: text-decoration 0.3s ease;
    box-shadow: var(--shadow-s);
    transition: 0.6s ease;
}

.profile-image {
    font-size: 16px;
    border: none;
    border-radius: inherit;
    outline: none;
    color: white;
    padding: 1em 1em 1em 2em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.profile-image img {
    width: auto;
    height: 4em;
    border-radius: inherit;
}

.profile-image img:hover {
    outline: 2px solid var(--text-colour);
    transition: outline 0.1s ease;
}

.event-form {
    position: relative;
    padding: 5em;
    display: flex;
    flex-direction: column;
}

.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event h2 {
    font-size: 40px;
    text-align: center;
}

.inputs {
    display: flex;
    align-items: center;
    min-width: 700px;
    padding: 1em;
}

.event-button-select {
    background-color: var(--submit-colour);
}

.event-button-delete {
    background-color: var(--delete-colour);
}

.event-button-delete,
.event-button-select {
    color: white;
    padding: 1em 1em;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    margin: 0 1em 0 1em;
    box-shadow: var(--shadow-m)
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.event-button-delete:hover:enabled,
.event-button-select:hover:enabled {
    animation: blink 1s;
    animation-iteration-count: infinite;
}

.event-button-delete:disabled,
.event-button-select:disabled,
.show-auth-code:disabled {
    opacity: 0.3;
    background-color: var(--disabled-colour);
    border-radius: 10px;
    border: none;
    cursor: help;
}

.auth-code {
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 0 1em 0 1em;
    box-shadow: var(--shadow-m)
}

.show-auth-code {
    width: 32px;
    height: 32px;
    box-shadow: var(--shadow-m)
}

.show-auth-code:hover:enabled {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.show-auth-code img {
    width: 100%;
    height: 100%;
}
