/*NAVBAR*/
.navbar h1 {
    margin-right: auto;
}

.logout {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    margin-right: 1em;
    padding: 1em;
    font-size: 20px;
    border-radius: 50px;
    cursor: default;
}

.logout:hover {
    background-color: var(--background-colour);
    transition: text-decoration 0.3s ease;
    box-shadow: var(--shadow-s);
    transition: 0.6s ease;
    cursor: default;
}

.profile-image {
    font-size: 16px;
    border: none;
    border-radius: inherit;
    outline: none;
    color: white;
    padding: 1em 1em 1em 2em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.profile-image img {
    width: auto;
    height: 4em;
    border-radius: inherit;
}

.profile-image img:hover {
    outline: 2px solid var(--text-colour);
    transition: outline 0.1s ease;
}


/*EVENT FORM*/
.event-form {
    position: relative;
    padding: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-button {
    background-color: transparent;
    filter: invert(98%) sepia(0%) saturate(18%) hue-rotate(151deg) brightness(98%) contrast(81%);
    border: none;
    position: relative;
    width: 25px;
    left: 50%;
}

.information-button:hover img {
    transform: scale(1.3);
    transition: transform 1s ease;
}

.information-button img {
    width: inherit;
    height: inherit;
}

.extra-information {
    position: absolute;
    visibility: hidden;
    background-color: var(--navbar-colour);
    right: 5%;
    top: 20%;
    width: 250px;
    height: 770px;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shadow-l);
}

.extra-information.show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        width: 0;
        height: 0px;
    }

    to {
        opacity: 1;
        width: 250px;
        height: 770px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        width: 0;
        height: 0px;
    }

    to {
        opacity: 1;
        width: 250px;
        height: 770px;
    }
}

.information-paragraph {
    visibility: hidden;
    padding: 1em;
    font-size: 20px;
    font-family: inherit;
}

.information-paragraph a {
    color: lightblue;
    text-decoration: none;
}

.extra-information.show .information-paragraph {
    visibility: visible;
    -webkit-animation: fadeTextIn 0.5s;
    animation: fadeTextIn 0.5s;
}

@-webkit-keyframes fadeTextIn {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeTextIn {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/*EVENTS*/
.event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event h2 {
    font-size: 40px;
    text-align: center;
}

.inputs {
    display: flex;
    align-items: center;
    min-width: 700px;
    padding: 1em;
}

.event-button-select {
    background-color: var(--submit-colour);
}

.event-button-delete {
    background-color: var(--delete-colour);
}

.event-button-delete,
.event-button-select {
    color: white;
    padding: 1em 1em;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    margin: 0 1em 0 1em;
    box-shadow: var(--shadow-m)
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.event-button-delete:hover:enabled,
.event-button-select:hover:enabled {
    animation: blink 1s;
    animation-iteration-count: infinite;
}

.event-button-delete:disabled,
.event-button-select:disabled,
.show-auth-code:disabled {
    opacity: 0.3;
    background-color: var(--disabled-colour);
    border-radius: 10px;
    border: none;
    cursor: help;
}

.show-auth-code:disabled {
    border-radius: 5px;
}

.auth-code {
    padding: 1em 1em;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    margin: 0 1em 0 1em;
    box-shadow: var(--shadow-m)
}

.show-auth-code {
    width: 32px;
    height: 32px;
    box-shadow: var(--shadow-m)
}

.show-auth-code:hover:enabled {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.show-auth-code img {
    width: 100%;
    height: 100%;
}
