/*BRACKET*/
.playoff-bracket {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 1em;
    top: 30%;
    transform: translateY(-30%);
}

.bracket {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grand-final,
.semi-finals,
.quarter-finals {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    max-width: 800px;
}


/*CHAMPION*/
.champion {
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.crown-image {
    max-width: 64px;
    max-height: 64px;
    padding: 0;
}


/*grand-final*/
.grand-final .dropzone-advanced,
.grand-final .dropzone-advanced-not-allowed {
    margin-left: 9em;
    margin-right: 9em;
}

.grand-final .match {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.grand-final .match .teams {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    width: 100%;
    max-width: 800px;
}

/*QUERTER-FINALS*/
.semi-finals .match {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.semi-finals .match .teams {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    width: 100%;
    max-width: 800px;
}

.semi-finals .dropzone-advanced,
.semi-finals .dropzone-advanced-not-allowed {
    margin-left: 3.1em;
    margin-right: 3.1em;
}


/*PICKS*/
.dropzone-advanced,
.dropzone-advanced-not-allowed {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-colour);
    user-select: none;
    box-shadow: var(--shadow-m);
    font-family: stratum-1-web, sans-serif;
    font-weight: 500;
}

.dropped-img {
    width: 50px;
    height: 50px;
}

.dropzone-advanced {
    cursor: grab;
}

.dropzone-advanced-not-allowed {
    cursor: not-allowed
}

.dropzone-advanced.drag-hover {
    transform: scale(1.3);
    transition: 0.8s ease;
}

.dropzone-advanced .dropped-img {
    width: 50px;
    height: 50px
}

.dropzone-advanced:not([disabled]):hover {
    outline: 2px solid var(--text-colour);
    transition: 0.3s ease;
}

.dropzone-advanced:not([disabled]):hover .dropped-img {
    transform: scale(1.2);
    transition: 0.3s ease;
}

.dropped-img.eliminated,
.team-img.eliminated {
    opacity: 0.5;
    filter: brightness(50%);
}

/*quarter-finals*/
.quarter-finals {
    justify-content: space-between;
}

.quarter-finals .match {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.quarter-finals .match .teams {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    max-width: 800px;
}

.match .lines {
    display: flex;
    border-top: 1px solid rgba(73,88,103,.65);
    width: 50%;
    border-right: 1px solid rgba(73,88,103,.65);
    border-left: 1px solid rgba(73,88,103,.65);
}

.team {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    cursor: grab;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background: var(--background-colour);
    user-select: none;
    box-shadow: var(--shadow-m);
}

.lines {
    height: 18px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 4px 4px 0px 0px;
}

.line {
    height: 18px;
    display: flex;
    border-right: 1px solid rgba(73,88,103,.65);
}

.team[disabled],
.dropzone-advanced[disabled] {
    cursor: not-allowed;
}

.team-img {
    width: 50px;
    height: 50px;
}


@media screen and (max-width: 990px) {

}

/*SHOW-RESULTS*/
.show-results-div {
    padding-top: 2em;
}

.checkbox {
    left: 35%;
}


@media screen and (max-height: 824px) {
    .save-button:enabled,
    .save-button:disabled {
        margin: 0;
    }

    .playoff-bracket {
        gap: 0;
        top: 20%;
    }
}

@media screen and (max-width: 990px) {

    .navbar h2 {
        font-size: 10px;
    }

    .team,
    .dropzone-advanced,
    .dropzone-advanced-not-allowed {
        height: 32px;
        width: 32px;
        font-size: 8px;
    }

    .crown-image {
        height: 32px;
        width: 32px;
    }

    .grand-final .dropzone-advanced,
    .grand-final .dropzone-advanced-not-allowed {
        margin-left: 11.5em;
        margin-right: 11.5em;
    }

    .semi-finals .dropzone-advanced,
    .semi-finals .dropzone-advanced-not-allowed {
        margin-left: 4.5em;
        margin-right: 4.5em;
    }

    .team-img,
    .dropped-img {
        width: 25px;
        height: 25px;
    }


}

.dropped-img.dragging,
.team-img.dragging {
    position: absolute;
    cursor: grabbing;
    padding: 0;
}