/*BRACKET*/
.playoff-bracket {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 1em;
    top: 30%;
    transform: translateY(-30%);
}

.bracket {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.bracket > div {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    max-width: 800px;
}


/*CHAMPION*/
.champion {
    flex-direction: column;
    align-items: center;
}

.crown-image {
    max-width: 64px;
    max-height: 64px;
    padding: 0;
}


/*SEMI-FINALS*/
.semi-finals .dropzone-advanced,
.semi-finals .dropzone-advanced-not-allowed {
    margin-left: 8.5em;
    margin-right: 8.5em;
}


/*QUERTER-FINALS*/
.quarter-finals .dropzone-advanced,
.quarter-finals .dropzone-advanced-not-allowed {
    margin-left: 3em;
    margin-right: 2.5em;
}


/*PICKS*/
.dropzone-advanced,
.dropzone-advanced-not-allowed {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-colour);
    user-select: none;
    box-shadow: var(--shadow-m);
    font-family: stratum-1-web, sans-serif;
    font-weight: 500;
}

.dropped-img {
    width: 50px;
    height: 50px;
}

.dropzone-advanced {
    cursor: grab;
}

.dropzone-advanced-not-allowed {
    cursor: not-allowed
}

.dropzone-advanced.drag-hover {
    transform: scale(1.3);
    transition: 0.8s ease;
}

.dropzone-advanced .dropped-img {
    width: 50px;
    height: 50px
}

.dropzone-advanced:not([disabled]):hover {
    outline: 2px solid var(--text-colour);
    transition: 0.3s ease;
}

.dropzone-advanced:not([disabled]):hover .dropped-img {
    transform: scale(1.2);
    transition: 0.3s ease;
}


/*ROUND-OF-EIGHT*/
.round-of-eight {
    justify-content: space-between;
}

.team {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-colour);
    user-select: none;
    box-shadow: var(--shadow-m);
}

.team[disabled],
.dropzone-advanced[disabled] {
    cursor: not-allowed;
}

.team-img {
    width: 50px;
    height: 50px;
}


/*SHOW-RESULTS*/
.show-results-div {
    padding-top: 2em;
}

.checkbox {
    left: 35%;
}


@media screen and (max-height: 824px) {
    .save-button:enabled,
    .save-button:disabled {
        margin: 0;
    }

    .playoff-bracket {
        gap: 0;
        top: 20%;
    }
}

@media screen and (max-width: 990px) {

    .crown-image,
    .match-dropzone-advanced,
    .match-dropzone-advanced-not-allowed,
    .team {
        width: 25px;
        height: 25px;
    }

    .navbar h2 {
        font-size: 10px;
    }

    .semi-finals .match-dropzone-advanced {
        margin-left: 5em;
        margin-right: 5em;
    }

    .quarter-finals .match-dropzone-advanced {
        margin-left: 2em;
        margin-right: 2em;
    }

    .match-dropzone-advanced,
    .match-dropzone-advanced-not-allowed {
        font-size: 8px;
    }

    .bracket > div {
        gap: 1em;
        width: 80vw;
    }
}

.dropped-img.dragging,
.team-img.dragging {
    position: absolute;
    cursor: grabbing;
    padding: 0;
}