/*BRACKET*/
.playoff-bracket {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 1em;
    top: 30%;
    transform: translateY(-30%);
}

.bracket {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.bracket > div {
    display: flex;
    justify-content: center;
    gap: 2em;
    width: 100%;
    max-width: 800px;
}


/*CHAMPION*/
.champion {
    flex-direction: column;
    align-items: center;
}

.crown-image {
    max-width: 64px;
    max-height: 64px;
    padding: 0;
}


/*SEMI-FINALS*/
.semi-finals .match-dropzone-advanced {
    margin-left: 8.5em;
    margin-right: 8.5em;
}


/*QUERTER-FINALS*/
.quarter-finals .match-dropzone-advanced {
    margin-left: 3em;
    margin-right: 2.5em;
}


/*PICKS*/
.match-dropzone-advanced {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-colour);
    user-select: none;
    box-shadow: var(--shadow-m);
    font-family: stratum-1-web, sans-serif;
    font-weight: 500;
}

.match-dropzone-advanced .dropped-img {
    width: 50px;
    height: 50px
}

.match-dropzone-advanced:not([disabled]):hover {
    outline: 2px solid var(--text-colour);
    transition: 0.3s ease;
}

.match-dropzone-advanced:not([disabled]):hover .dropped-img {
    transform: scale(1.2);
    transition: 0.3s ease;
}


/*ROUND-OF-EIGHT*/
.round-of-eight {
    justify-content: space-between;
}

.team {
    width: 64px;
    height: 64px;
    border-radius: 5px;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-colour);
    user-select: none;
    box-shadow: var(--shadow-m);
}

.team[disabled],
.match-dropzone-advanced[disabled] {
    cursor: not-allowed;
}

.team-img {
    width: 50px;
    height: 50px;
}


/*SHOW-RESULTS*/
.show-results-div {
    padding-top: 2em;
}

.checkbox {
    left: 35%;
}