:root {
    --background-colour: #171A1E;
    --background-colour-rgb: 23, 26, 30;
    --text-colour: #E0E1DD;
    --foreground-colour: #434C5E;
    --navbar-colour: #22252C;
    --submit-colour: #40703C;
    --delete-colour: #b06161;
    --disabled-colour: #808080;
    --shadow-s: inset 0 1px 2px #171A1E30, 0 1px 2px #0E101230, 0 2px 4px #0E101215;
    --shadow-m: inset 0 1px 2px #171A1E30, 0 2px 4px #00000030, 0 4px 8px #0E101215;
    --shadow-l: inset 0 1px 2px #171A1E30, 0 4px 6px #0E101230, 0 6px 10px #0E101215;
}

body {
    font-family: stratum-1-web, sans-serif;
    background-color: var(--background-colour);
    margin: 0;
    padding: 0;
    color: var(--text-colour);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pickem-container {
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0;
}


/*LOGOUT CONFIRMATION*/
.logout-confirmation {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--background-colour-rgb), 0.9);

}

.logout-confirmation.show {
    display: flex;
}

.logout-form {
    position: absolute;
    background-color: var(--navbar-colour);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: var(--shadow-l);
}

.logout-text {
    padding: 1em;
    font-family: inherit;
    font-size: 20px;
    font-weight: 525;
}

.logout-buttons {
    display: flex;
    padding: 1em;
}

.logout-buttons button,
.logout-buttons a{
    margin: 1em;
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    margin: 0 1em 1em 1em;
    box-shadow: var(--shadow-m);
    color: white;
    cursor: default;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.logout-buttons button:hover,
.logout-buttons a:hover,
.ok-button:hover {
    animation: blink 1s;
    animation-iteration-count: infinite;
    cursor: default;
}

.confirm-logout-button {
    background-color: var(--submit-colour);
}

.cancel-logout-button {
    background-color: var(--delete-colour);
}


/*PICKS NOT ALLOWED*/
.picks-not-allowed-confirmation {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--background-colour-rgb), 0.9);
}

.picks-not-allowed-confirmation.show {
    display: flex;
}

.picks-not-allowed-box {
    position: absolute;
    background-color: var(--navbar-colour);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: var(--shadow-l);
}

.picks-not-allowed-text {
    padding: 1em;
    font-family: inherit;
    font-size: 20px;
    font-weight: 525;
}

.ok-button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    margin: 0 1em 1em 1em;
    box-shadow: var(--shadow-m);
    color: white;
    cursor: default;
    background-color: var(--submit-colour);
}


/*NAVBAR*/
.navbar {
    position: relative;
    background-color: var(--navbar-colour);
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin: 1rem;
    box-shadow: var(--shadow-m);
}


/*GITHUB LOGO*/
.github {
    position: absolute;
    bottom: clamp(1em, 1em, 1em);
    right: clamp(1em, 1em, 1em);
    z-index: 1000;
}

.github img {
    width: 60px;
    height: auto;
}

.github:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}


/*FOOTER*/
footer { 
    padding: 1em;
    position: absolute;
    bottom: 0;
    text-align: center;
}

footer p {
    font-family: inherit;
    font-size: 12px;
}

footer p a {
    color: lightblue;
    text-decoration: none;
    font-family: inherit;
}

@media screen and (max-width: 990px) {
    .navbar {
        height: 5%;
    }

    .logout-text{
        font-size: 10px;
    }

    .confirm-logout-button,
    .cancel-logout-button {
        font-size: 10px;
    }

    
    footer {
        width: 50%;
    }

    .github img {
        width: 32px;
    }
}

@media screen and (max-width: 990px) {
    .navbar {
        height: 5%;
    }

    .logout-text,
    .picks-not-allowed-text{
        font-size: 10px;
    }


    .logout-buttons button,
    .logout-buttons a,
    .ok-button {
        font-size: 10px;
    }


    footer {
        width: 50%;
    }

    .github img {
        width: 32px;
    }
}