/*NAVBAR*/
.selected-event {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 0 0 0 1em;
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: inherit;
    background-color: var(--navbar-colour);
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 50px 50px;
    background-color: var(--navbar-colour);
}

.profile {
    display: none;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    padding: 1em;
    font-size: 20px;
    border-radius: 50px;
}

.profile-image {
    border: none;
    border-radius: 50px;
    outline: none;
    color: white;
    padding: 1em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.profile-image-hidden {
    display: none;
    border: none;
    border-radius: 50px;
    outline: none;
    color: white;
    padding: 1em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.profile-image img,
.profile-image-hidden img{
    width: auto;
    height: 4em;
    border-radius: inherit;
}

.profile-image img:hover,
.profile-image-hidden img:hover {
    outline: 2px solid var(--text-colour);
    transition: outline 0.1s ease;
}

.logout {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    padding: 1em;
    font-size: 20px;
    border-radius: 50px;
}

.logout:hover {
    background-color: var(--background-colour);
    transition: text-decoration 0.3s ease;
    box-shadow: var(--shadow-s);
    transition: 0.6s ease;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .navigation {
        flex-direction: column-reverse;
    }

    .dropdown {
        display: none;
        position: absolute;
        top: 95px;
        flex-direction: column-reverse;
        margin-right: 2rem;
        padding: 0.5rem;
    }

    .profile {
        display: flex;
        z-index: 1;
    }

    .logout {
        z-index: 1;
    }

    .profile-image {
        display: none;
    }

    .profile-image-hidden {
        display: flex;
    }

    .dropdown a:hover {
        background-color: var(--background-colour);
        transition: text-decoration 0.3s ease;
        box-shadow: var(--shadow-s);
        transition: 0.6s ease;
        cursor: pointer;
    }
}


/*STAGE NAV*/
.stage-nav {
    height: auto;
    position: fixed;
    left: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.stage {
    border: 2px solid var(--text-colour);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-colour);
    font-family: inherit;
    box-shadow: var(--shadow-l);
}

@media screen and (max-width: 1150px) {
    .stage-nav {
        position: relative;
        flex-direction: initial;
        left: 0;
        margin: 1em;
    }
}

.stage:hover {
    transform: scale(1.2);
    transition: 0.1s ease;
}

.stage.active {
    transform: scale(1.5);
}


/*SHOW-RESULTS*/
.checkmark {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: solid #0e2912 3px;
    background-color: var(--submit-colour);
}

.checkmark.show {
    display: flex;
    z-index: 10;
}

.check {
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.show-results-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-results-div input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.show-results-div input:checked ~ .checkbox {
    background-color: var(--text-colour);
}

.show-results {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 1em;
    box-shadow: var(--shadow-m);
}

.show-results-div label {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
}

.checkbox {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 20%;
    background-color: var(--navbar-colour);
}

.checkbox:hover {
    background-color: var(--text-colour);
    transition: 0.5s ease;
}

.checkbox::after {
    content: "";
    position: absolute;
    display: none;
}

.show-results-div input:checked ~ .checkbox::after {
    display: flex;
}

.checkbox::after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


/*SAVE PICKS*/
.save-form {
    width: inherit;
    display: flex;
    justify-content: center;
}

.save-button:enabled {
    background-color: var(--submit-colour);
    color: white;
    padding: 1em 2em;
    margin: 1em;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    box-shadow: var(--shadow-m);
}

.save-button:disabled {
    display: flex;
    align-items: center;
    padding: 1em 2em;
    border-radius: 10px;
    font-size: 1.1em;
    margin: 1em;
    border: dashed var(--submit-colour);
    cursor: help;
    box-shadow: var(--shadow-m);
    color: var(--submit-colour);
    background: rgba(64, 112, 60, 0.2);
}

.save-button:disabled img {
    position: relative;
    width: 20px;
    height: 20px;
    padding-right: 5px;
    filter: brightness(0) saturate(100%) invert(37%) sepia(38%) saturate(550%) hue-rotate(68deg) brightness(93%) contrast(90%);
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.save-button:hover:enabled {
    animation: blink 1s;
    animation-iteration-count: infinite;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-all-picks,
.random-picks {
    margin: 1em;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.clear-all-picks img,
.random-picks img{
    width: 100%;
    height: auto;
}

.clear-all-picks:not([disabled]) img:hover,
.random-picks:not([disabled]) img:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}

.clear-all-picks:disabled,
.random-picks:disabled {
    opacity: 0.2;
    cursor: not-allowed;
}

/*TEAMS*/
.team-img {
    min-width: 25px;
    min-height: 25px;
    max-width: 64px;
    max-height: 64px;
    object-fit: contain;
}

.dropped-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.dropped-img.reduced-opacity {
    filter: brightness(30%);
    opacity: 0.7;
}

.team:not([disabled]):hover {
    outline: 2px solid var(--text-colour);
    transition: 0.3s ease;
}

.team:not([disabled]):hover .team-img {
    transform: scale(1.2);
    transition: 0.3s ease;
}


@media screen and (max-height: 1050px) {
    .buttons {
        position: absolute;
        flex-direction: column;
        right: 3em;
        bottom: 65%;
    }
}

@media screen and (max-width: 990px) {
    .bracket {
        gap: 0;
    }

    .stage-nav {
        gap: 1em;
    }

    .stage {
        width: 1em;
        height: 1em;
        font-weight: bold;
        font-size: 15px;
        border: none;
    }

    .buttons {
        right: 0;
    }

    .clear-all-picks,
    .random-picks {
        width: 24px;
        height: 24px;
    }

    .profile-image-hidden,
    .profile.profile-image {
        align-items: center;
        height: 5%;
        padding: 5px;
    }

    .profile-image-hidden img,
    .profile-image img {
        width: 25px;
        height: 25px;
    }

    .show-results-div label {
        font-size: 8px;
    }
    .checkbox {
        width: 15px;
        height: 15px;
        left: 15%;
    }

    .checkbox::after {
        height: 8px;
        width: 3px;
    }

    .checkmark {
        width: 12px;
        height: 12px;
    }

    .check {
        width: 2px;
        height: 6px;
        border-width: 0 2px 2px 0;
    }

    .save-button:enabled,
    .save-button:disabled {
        position: absolute;
        font-size: 8px;
        padding: 0.5em;
    }
    .save-button:enabled img,
    .save-button:disabled img {
        display: none;
    }

    .dropdown {
        top: 100%;
    }

    .dropdown a {
        font-size: 8px;
    }
}


.team-img.dragging,
.dropped-img.dragging {
    position: absolute;
    cursor: grabbing;
    padding: 0;
}

.dropzone-advanced .dropped-img, 
.dropzone-eliminated .dropped-img {
    cursor: grab;
}

.dropzone-advanced:not(:has(.dropped-img)),
.dropzone-eliminated:not(:has(.dropped-img)) {
    cursor: default !important;
}

.dropzone-advanced-not-allowed:hover,
.dropzone-eliminated-not-allowed:hover {
    cursor: not-allowed;
}