.selected-event {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding: 0 0 0 1em;
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: inherit;
    background-color: var(--navbar-colour);
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 50px 50px;
    background-color: var(--navbar-colour);
}

.profile {
    display: none;
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    padding: 1em;
    font-size: 20px;
    border-radius: 50px;
}

.profile-image {
    border: none;
    border-radius: 50px;
    outline: none;
    color: white;
    padding: 1em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.profile-image-hidden {
    display: none;
    border: none;
    border-radius: 50px;
    outline: none;
    color: white;
    padding: 1em;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.profile-image img,
.profile-image-hidden img{
    width: auto;
    height: 4em;
    border-radius: inherit;
}

.profile-image img:hover,
.profile-image-hidden img:hover {
    outline: 2px solid var(--text-colour);
    transition: outline 0.1s ease;
}

.logout {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
    padding: 1em;
    font-size: 20px;
    border-radius: 50px;
}

.logout:hover {
    background-color: var(--background-colour);
    transition: text-decoration 0.3s ease;
    box-shadow: var(--shadow-s);
    transition: 0.6s ease;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .navigation {
        flex-direction: column-reverse;
    }

    .dropdown {
        display: none;
        position: absolute;
        top: 95px;
        flex-direction: column-reverse;
        margin-right: 2rem;
        padding: 0.5rem;
    }

    .profile {
        display: flex;
        z-index: 1;
    }

    .logout {
        z-index: 1;
    }

    .profile-image {
        display: none;
    }

    .profile-image-hidden {
        display: flex;
    }

    .dropdown a:hover {
        background-color: var(--background-colour);
        transition: text-decoration 0.3s ease;
        box-shadow: var(--shadow-s);
        transition: 0.6s ease;
        cursor: pointer;
    }
}

.stage-nav {
    height: auto;
    position: fixed;
    left: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.stage {
    border: 2px solid var(--text-colour);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    color: var(--text-colour);
    font-family: inherit;
    box-shadow: var(--shadow-l);
}

@media screen and (max-width: 1150px) {
    .stage-nav {
        position: relative;
        flex-direction: initial;
        left: 0;
        margin: 1em;
    }
}


.stage:hover {
    transform: scale(1.2);
    transition: 0.1s ease;
}

.stage.active {
    transform: scale(1.5);
}

.show-results-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-results-div input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.show-results-div input:checked ~ .checkbox {
    background-color: var(--text-colour);
}

.show-results {
    position: relative;
    width: 20px;
    height: 20px;
    margin: 1em;
    box-shadow: var(--shadow-m);
}

.show-results-div label {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
}

.checkbox {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 20%;
    background-color: var(--navbar-colour);
}

.checkbox:hover {
    background-color: var(--text-colour);
    transition: 0.5s ease;
}

.checkbox::after {
    content: "";
    position: absolute;
    display: none;
}

.show-results-div input:checked ~ .checkbox::after {
    display: flex;
}

.checkbox::after {
    left: 6px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.save-form {
    width: inherit;
    display: flex;
    justify-content: center;
}

.save-button:enabled {
    background-color: var(--submit-colour);
    color: white;
    padding: 1em 2em;
    margin: 1em;
    border: none;
    border-radius: 10px;
    font-size: 1.1em;
    box-shadow: var(--shadow-m);
}

.save-button:disabled {
    opacity: 0.3;
    padding: 1em 2em;
    background-color: var(--disabled-colour);
    border-radius: 10px;
    font-size: 1.1em;
    margin: 5vh;
    border: none;
    cursor: help;
    box-shadow: var(--shadow-m);
    color: white;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

.save-button:hover:enabled {
    animation: blink 1s;
    animation-iteration-count: infinite;
}

.team-img {
    min-width: 25px;
    min-height: 25px;
    max-width: 64px;
    max-height: 64px;
    object-fit: contain;
}

.dropped-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.team:not([disabled]):hover {
    outline: 2px solid var(--text-colour);
    transition: 0.3s ease;
}

.team:not([disabled]):hover .team-img {
    transform: scale(1.2);
    transition: 0.3s ease;
}