.pickem-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: inherit;
    height: fit-content;
    align-items: center;
    justify-content: center;
    top: 30%;
    transform: translateY(-30%);
}


/*BRACKETS*/
.bracket {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.picks {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
    margin: 2em;
}

.picks > div {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.match-dropzone-advanced,
.match-dropzone-advanced-not-allowed {
    background-color: var(--advance-colour);
}

.match-dropzone-eliminated,
.match-dropzone-eliminated-not-allowed {
    background-color: var(--delete-colour);
}

.match-dropzone-advanced,
.match-dropzone-eliminated,
.match-dropzone-advanced-not-allowed,
.match-dropzone-eliminated-not-allowed {
    font-size: 20px;
    border-radius: 5px;
    height: 64px;
    width: 64px;
    padding: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: default !important;
    box-shadow: var(--shadow-l);
}

.match-dropzone-advanced[draggable="true"],
.match-dropzone-eliminated[draggable="true"] {
    cursor: grab !important;
}

.match-dropzone-advanced-not-allowed,
.match-dropzone-eliminated-not-allowed {
    cursor: not-allowed
}

.match-dropzone-advanced.drag-hover,
.match-dropzone-eliminated.drag-hover,
.match-dropzone-advanced:hover,
.match-dropzone-eliminated:hover {
    transform: scale(1.3);
    transition: 0.8s ease;
}

/*TEAMS*/
.teams-section {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    margin: 1em;
    padding: 1em;
    justify-content: center;
    max-width: 1300px;
    width: 80%;
    height: fit-content;
    gap: 1em;
    border-radius: 10px;
    background-color: var(--background-colour);
    box-shadow: var(--shadow-m);
}

.team {
    background-color: var(--background-colour);
    height: auto;
    border-radius: inherit;
    padding: 0.5em 1em;
    cursor: grab;
    display: flex;
    justify-content: center;
    box-shadow: var(--shadow-s);
}

.team[disabled] {
    cursor: not-allowed;
}

.team[disabled] .team-img {
                opacity: 0.3;
                filter: brightness(8%);
            }