.pickem-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: inherit;
    height: fit-content;
    align-items: center;
    justify-content: center;
    top: 30%;
    transform: translateY(-30%);
}


/*BRACKETS*/
.bracket {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin: 1em;
}

.picks {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
    margin: 2em;
}

.picks > div {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.dropzone-advanced,
.dropzone-advanced-not-allowed {
    background-color: var(--advance-colour);
}

.dropzone-eliminated,
.dropzone-eliminated-not-allowed {
    background-color: var(--delete-colour);
}

.dropzone-advanced,
.dropzone-eliminated,
.dropzone-advanced-not-allowed,
.dropzone-eliminated-not-allowed {
    font-size: 20px;
    border-radius: 5px;
    height: 64px;
    width: 64px;
    padding: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    box-shadow: var(--shadow-l);
}

.dropzone-advanced,
.dropzone-eliminated {
    cursor: grab;
}

.dropzone-advanced-not-allowed,
.dropzone-eliminated-not-allowed {
    cursor: not-allowed
}

.dropzone-advanced.drag-hover,
.dropzone-eliminated.drag-hover,
.dropzone-advanced:hover,
.dropzone-eliminated:hover {
    transform: scale(1.3);
    transition: 0.8s ease;
}

/*TEAMS*/
.teams-section {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    margin: 1em;
    padding: 1em;
    justify-content: center;
    max-width: 1300px;
    width: 80%;
    height: fit-content;
    gap: 1em;
    border-radius: 10px;
    background-color: var(--background-colour);
    box-shadow: var(--shadow-m);
}

.team {
    background-color: var(--background-colour);
    height: 50px;
    border-radius: inherit;
    padding: 0.5em 1em;
    cursor: grab;
    display: flex;
    justify-content: center;
    box-shadow: var(--shadow-s);
}

.team[disabled] {
    cursor: not-allowed;
}

.team[disabled] .team-img {
    opacity: 0.3;
    filter: brightness(8%);
}

@media screen and (max-height: 990px) {
    .save-button:enabled,
    .save-button:disabled {
        margin: 0;
    }

    .pickem-layout {
        gap: 0;
        top: 20%;
    }

    .save-form {
        width: fit-content;
        position: absolute;
        right: 3em;
    }
}

@media screen and (max-width: 990px) {
    .pickem-layout {
        top: 25%;
    }
    .bracket {
        gap: 0;
    }

    .navbar h2 {
        font-size: 10px;
    }

    .picks {
        margin: 0.5em;
        gap: 1em;
    }
    .picks > div {
        gap: 1em;
    }

    .team,
    .dropzone-advanced,
    .dropzone-eliminated,
    .dropzone-advanced-not-allowed,
    .dropzone-eliminated-not-allowed {
        height: 32px;
        width: 32px;
        font-size: 10px;
    }

    .teams-section {
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(32px, 1fr));
    }
}