:root {
    --background-colour: #e6dac3;
    --text-colour: #473717;
    --foreground-colour: #B69F74;
    --navbar-colour: #c7b38a;
    --submit-colour: #40703C;
    --delete-colour: #b06161;
}

.nav-bar::before {
    background-color: var(--text-colour);
}

.teams-section {
    background-color: var(--background-colour);
}
