:root {
    --background-colour: #e6dac3;
    --text-colour: #473717;
    --foreground-colour: #B69F74;
    --navbar-colour: #c7b38a;
    --submit-colour: #40703C;
    --delete-colour: #b06161;
}

.teams-section {
    background-color: var(--foreground-colour);
    color: var(--text-colour)
}
