body {
    background-color: #e6dac3;
}

.navbar {
    background-color: #c7b38a;
    box-shadow: #B3A17C 0px 2px;
}

.dropdown-content a:hover {
    background-color: #e6dac3;
}

.dropdown:hover .dropdown-content {
    background-color: #c7b38a;
    box-shadow: #B3A17C 0px 2px;
}

.teams-section {
    background-color: #f4efe3;
}
