:root {
    --background-colour: #e6dac3;
    --text-colour: #473717;
    --foreground-colour: #B69F74;
    --navbar-colour: #c7b38a;
    --submit-colour: #40703C;
    --advance-colour: #5e8b4b;
    --delete-colour: #b06161;
    --shadow-s: inset 0 1px 2px #e6dac330, 0 1px 2px #47371730, 0 2px 4px #47371715;
    --shadow-m: inset 0 1px 2px #e6dac330, 0 2px 4px #47371730, 0 4px 8px #47371730;
    --shadow-l: inset 0 1px 2px #e6dac330, 0 4px 6px #47371730, 0 6px 10px #47371715;
}

.crown-image {
    filter: invert(20%) sepia(12%) saturate(2447%) hue-rotate(1deg) brightness(91%) contrast(89%);
}

.stage {
    font-family: "Times New Roman", Times, serif;
}