:root {
    --background-colour: #2A402B;
    --text-colour: #D3DFD7;
    --foreground-colour: #3E5E3F;
    --navbar-colour: #142F1E;
    --submit-colour: #40703C;
    --advance-colour: #5e8b4b;
    --delete-colour: #b06161;
    --shadow-s: inset 0 1px 2px #2A402B, 0 1px 2px #00000030, 0 2px 4px #00000015;
    --shadow-m: inset 0 1px 2px #2A402B, 0 2px 4px #00000030, 0 4px 8px #00000015;
    --shadow-l: inset 0 1px 2px #2A402B, 0 4px 6px #00000030, 0 6px 10px #00000015;
}

.crown-image {
    filter: brightness(0) saturate(100%) invert(98%) sepia(10%) saturate(262%) hue-rotate(65deg) brightness(94%) contrast(86%);
}

.clear-all-picks img,
.random-picks img,
.simulator img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(10%) saturate(262%) hue-rotate(65deg) brightness(94%) contrast(86%);
}
