@page
@model CS2Pickems.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/error.css" />
}

<div class="error-container">
    <img src="~/Images/defuse_kit_black.png" />
    <h1>Bomb has been defused.</h1>
    <p>We ran into a problem while processing your request.</p>

    <form method="post">
        <button type="submit" class="overview-button" asp-page-handler="Overview">Account overview</button>
    </form>
</div>