<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="~/css/site.css" />

        @RenderSection("Styles", required: false)

        <title>@ViewData["Title"]</title>

        <link rel="icon" type="image/x-icon" href="~/Images/bomb.ico">
    </head>
    <body>
        <main role="main" class="container">
        <div class="logout-confirmation" id="logoutConfirmation">
                <form class="logout-form">
                <p class="logout-text">Are you sure you want to logout?</p>

                <div class="logout-buttons">
                    <button class="confirm-logout-button" asp-page="/Profile/Logout">Logout</button>
                    <a class="cancel-logout-button" onclick="toggleLogoutConfirmation()">Cancel</a>
                </div>
                </form>
            </div>

        <div class="picks-not-allowed-confirmation" id="picksNotAllowedConfirmation">
            <div class="picks-not-allowed-box">
                <p class="picks-not-allowed-text">Picks are not allowed on this stage as of now.</p>
                <a class="ok-button" onclick="togglePicksNotAllowedConfirmation()">Ok</a>
            </div>
        </div>
            @RenderBody()
        </main>

        @RenderSection("Scripts", required: false)
        <script src="~/js/site.js"></script>
    </body>
</html>

